<section class="header flex">
	<div class="block p-50 logo-block flex-2" style="background: url('img/bg-header.png') 100% no-repeat;">
		<div class="logo">
			<img src="img/logo.png" alt="Logo">
			<p>ASSOCIATES STUDIO DESIGN</p>
			<div class="container-links flex ai-c jc-c">
				<a href="#"><i class="fab fa-facebook-f"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-linkedin-in"></i></a>
				<a href="#"><i class="fab fa-google-plus-g"></i></a>
			</div>
		</div>
	</div>
	<div class="block p-50 side-block info-block diagonal">
		<div class="addres custom">
			<div>90802 California</div>
			<div>Long beach</div>
			<div>PO Box 68789</div>
			<div>300 East Ocean </div>
			<div>Boulevard</div>
		</div>
		<div class="contacts custom flex fd-c">
			<a href="tel:+64 9 345 6758">+64 9 345 6758</a>
			<a href="mailto:info@dsgn-studio.com">info@dsgn-studio.com</a>
		</div>
	</div>
</section>