<section class="main">
	<div class="flex-2 flex wrap">
		<div class="block p-more info-block o-color diagonal">
			<div class="custom center-info">
				<div class="arrow">all</div>
				<div>house</div>
				<div>commercial</div>
				<div>personal </div>
				<div>studio lab </div>
			</div>
			<p class="title-info">projects</p>
		</div>
		<div class="container-item">
			<div class="item-info">
				<div class="container-text-info">
					<h1 class="name">Fondue</h1>
					<ul class="arrt-list">
						<li><strong>Project Assistant:</strong> Francesco Dompieri</li>
						<li><strong>Material:</strong> Glass and Metal</li>
						<li><strong>Typology:</strong> Suspension lamp</li>
						<li><strong>Client:</strong> David Design</li>
						<li><strong>Year:</strong> 2014</li>	
					</ul>
				</div>
				<div class="container-buttons">
					<button class="view arrow">View Project</button>
					<button class="wish"><span class="t-heart"></span><div class="nums">+200</div></button>
				</div>
				
			</div>
		</div>
		
	</div>
	<div class="flex-1">
		
	</div>
</section>