@font-face {
  font-family: 'test';
  src:  url('../fonts/test.eot?mcisth');
  src:  url('../fonts/test.eot?mcisth#iefix') format('embedded-opentype'),
    url('../fonts/test.ttf?mcisth') format('truetype'),
    url('../fonts/test.woff?mcisth') format('woff'),
    url('../fonts/test.svg?mcisth#test') format('svg');
  font-weight: normal;
  font-style: normal;
}

span, .arrow:before {
  font-family: 'test' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.t-arrow:before {
  content: "\e900";
}
.t-heart:before {
  content: "\e901";
}
