$b_color: #66cccc;
$o_color: #ebb240;
$g_color: #dfe0d9;
$dg_color: #333333;
$lg_color: #f7f7f3;
$r_color: #ff0000;
$gr_color: #393d3c;
body, html {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	color: $gr_color;
	font-size: 13px;
	text-transform: uppercase;
}
a {
	text-decoration: none;
	transition: all .2s;
}
button {
	font-family: 'Roboto Condensed', sans-serif;
	color: $gr_color;
	font-size: 13px;
	text-transform: uppercase;
	background: transparent;
	border: 0;
	cursor: pointer;
	transition: all .2s;
}
ul {
	list-style: none;
}
* {
	box-sizing: border-box;
}


.col-block {
	flex-direction: column;
	align-items: flex-start;
}
.flex {
	display: flex;
}
.ai-c {
	align-items: center;
}
.ai-e {
	align-items: flex-end;
}
.jc-sb {
	justify-content: space-between;
}
.jc-sa {
	justify-content: space-around;
}
.jc-c {
	justify-content: center;
}
.fd-c {
	flex-direction: column;
}
.wrap {
	flex-wrap: wrap;
}
.flex-def {
	flex: 1;
}
.flex-3 {
	flex: 1 100%;
}
.flex-2 {
		flex: 2 66.66%;
	}
.flex-1 {
	flex: 1 33.33%;
}
.h-450 {
	height: 450px;
}
.h-225 {
	height: 225px;
}
.block {
	&.p-50 {
		padding: 50px;
	}
	&.p-80 {
		padding: 80px;
	}
	padding: 20px;
}

.diagonal {
	background-image: url("../img/line.svg");
	background-size: 100% 100%;
    background-position: 100%;
    background-repeat: no-repeat;
}
.arrow {
	&::before {
		content:"\e900";
		display: block;
	}
}
.custom {
	position: absolute;
	color: #fff;
	a {
		color: #fff;
	}
}
.side-block {
	width: 450px;
}
.info-block {
	background-color: $b_color;
	position: relative;
	height: 450px;
	color: #fff;
	&.o-color {
		background-color: $o_color;
	}
	.title-info {
		position: absolute;
		right: 50px;
		top: 60%;
		font-size: 40px;
	}
	.center-info {
		top: 30%;
		left: 30%;
		.arrow {
			color: #000;
			&::before {
				position: absolute;
				color: #fff;
				margin-left: -20px;
			}
		}
	}
}
//Button
.view {
	color: $gr_color;
	font-size: 18px;
	font-weight: 300;
	transition: all .2s;
	&.arrow {
		&::before {
			display: inline-block;
			margin-right: 10px;
			color: $o_color;
			transition: all .5s ease-out;
		}
	}
	&:hover {
		animation: pop .8s ease-in-out;
		transform: scale(1.2);
		&:before{
			transform: rotate(360deg);
		}
	}
}
.wish {
	&:hover {
		span {
			animation: pop .8s ease-in-out;
			color: $r_color;
			transition: all .3s;
			transform: scale(1.2);
		}
	}
	max-width: 50px;
	font-size: 18px;
	span {
		display: inline-block;
		transition: all .3s;
	}
	.nums {
		color: $r_color;
		font-size: 11px;
		font-weight: 300;
	}
}
.c-white {
	color: #fff;
	button, a {
		color: #fff;
	}
}

// Header
header {
	min-height: 500px;
}
.logo {
	margin-left: 20%;
	display: inline-block;
	p {
		margin: 0 0 60px 0;
		max-width: 100px;
		color: #393d3c;
		font-size: 18px;
		line-height: 18px;
    	font-weight: 600;
	}
}
.logo-block {
	background-size: cover;
	background-color: $lg_color !important;
}

.container-links {
	a {
		margin: 0 5px;
		color: $b_color;
		font-size: 22px;
		display: inline-block;
		transition: all .6s;
	    transform-style: preserve-3d;
	    will-change: transform;
	    &:hover {
	    	color: #88f1f1;
	    	transform: rotateY(360deg);
    		perspective: 500px;
	    }
	}
}
.addres {
	position: absolute;
	bottom: 150px;
}

.contacts {
    bottom: 100px;
    left: 150px;
    display: flex;
    flex-direction: column;
}

//Item
.container-item {
	position: relative;
	overflow: hidden;
	img {
		position: absolute;
	    bottom: 50%;
	    transform: translateY(50%);
	    right: 0;
	    z-index: -1;
	    height: auto;
	    width: 100%;
	}
}
.item-info {
	justify-content: space-between;
	display: flex;
	height: 100%;
	h1 {
		font-weight: 300;
		font-size: 24px;
		margin: 0 0 20px 0;
	}
	.arrt-list {
		padding: 0;
		font-size: 13px;
		margin: 0;
	}
	li {
		line-height: 12px;
		font-weight: 300;
		strong {
			font-weight: 600;
		}
	}
	.container-buttons {
		display: inherit;
		align-items: center;
		&.fd-c {
			max-width: 150px;
			.view {
				margin-bottom: 20px;
			}
		}
		button,a {
			display: inline-block;
		}

	}
}
.middle-item {
	.item-info {
		position: absolute;
	    right: 50px;
	    width: 50%;
	    height: unset;
	}
}

// Animations
@keyframes pop {
  from {
    transform: scale(1);
  }

  40% {
  	transform: scale(1.4);
  }
  100% {
  	transform: scale(1.2);
  }
}